body{
    text-align: center;
    background-color: black;
    color: aliceblue;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;

}

.menu {
    padding-left: 90px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(132, 14, 201);


};


li{
    margin: 10px;
};

h1{
    font-family: sans-serif;
    font-weight: 10px;
};
main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;


};

main nav [class^="isActive"] {
    display: none;
  };

a{
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 40px;

};


